body {
    background-image: url(bgimage.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.btnku {
    background-color: deeppink;
    font-size: medium;
    border-radius: 5px 25px 5px 25px;
}
.btnku:hover{
    background-color:green;
    font-size: medium;
    color: white;
    border-radius: 5px 25px 5px 25px;
}
.imgku {
    width: 40px;
}